@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input:focus,
select:focus,
textarea:focus,
.btn:focus {
  outline: none;
  box-shadow: none; }

body {
  background-image: linear-gradient(to right bottom, rgba(230, 255, 2, 0.35), rgba(253, 2, 2, 0.5)), url(images/normal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden; }

#secondary-nav {
  background: rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  #secondary-nav h4 {
    color: #00EFFF; }
  #secondary-nav input {
    padding: 2px;
    background: #cdd8da; }
  #secondary-nav button {
    padding: 4px;
    background: #1C6E7D;
    border: none;
    color: white;
    font-weight: bold; }
    #secondary-nav button:hover {
      cursor: pointer;
      background: rgba(28, 110, 125, 0.726); }
  #secondary-nav i {
    color: #00EFFF; }

#search-weather {
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 450px;
  margin: 0 auto; }
  #search-weather form {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin: 0 auto; }
    #search-weather form input {
      padding: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 35px;
      border: none;
      background: #e0f1f8; }
    #search-weather form > div {
      padding: 0 5px;
      background: wheat;
      height: 35px; }
    #search-weather form button {
      padding: 0 25px;
      background: #e69705;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      font-weight: bold; }
      #search-weather form button:hover {
        cursor: pointer;
        background: rgba(230, 151, 5, 0.534); }
    #search-weather form .dropdown-menu {
      margin-top: 8px;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }

#main-window {
  width: 100%;
  margin: 10px 0;
  display: flex;
  box-shadow: 3px 3px 3px black;
  border-bottom-left-radius: 10px; }

#left-side {
  width: 35%;
  background: #039590;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px; }
  #left-side .header {
    text-align: center;
    text-decoration: underline; }
  #left-side ul {
    list-style: none;
    text-align: center; }
    #left-side ul img {
      width: 100px;
      height: 100px; }

#right-side {
  width: 75%;
  background: rgba(0, 0, 0, 0.712);
  padding: 20px; }
  #right-side h3 {
    text-align: right;
    padding-right: 30px; }

#five-day-forecast {
  display: flex;
  flex-wrap: nowrap;
  background: #06191d;
  text-align: center;
  color: #ade9eb; }
  #five-day-forecast div {
    width: 18%;
    margin: 1%;
    background: rgba(255, 255, 255, 0.082); }
    #five-day-forecast div img {
      width: 40%; }

blockquote {
  background: rgba(0, 0, 0, 0.712);
  border-left: 10px solid #ccc;
  margin: 0 10px;
  padding: 0.5em 10px;
  color: #f9f9f9;
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote:before {
  color: #f9f9f9;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: block;
  text-align: right;
  margin: 0 15px; }

footer {
  position: fixed;
  height: 135px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-top: 15px solid #1C6E7D; }
  footer .country {
    font-size: 1.05rem;
    width: 15%;
    height: 85%;
    margin: 10px 2%;
    background: #6268672c;
    padding: 5px;
    color: white;
    border: 0.5px solid white; }
    footer .country h4 {
      text-align: center;
      font-size: 0.85rem;
      color: #00B7CA; }
    footer .country hr {
      border: 0.5px white solid;
      margin: 0; }
    footer .country .time-zone {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between; }
      footer .country .time-zone img {
        width: 75px;
        height: 75px; }
      footer .country .time-zone p {
        margin-top: 20px; }

