* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to right bottom, rgba(230, 255, 2, 0.35), rgba(253, 2, 2, 0.5)), url(src/images/normal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

#search-weather {
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 450px;
  margin: 0 auto; }
  #search-weather form {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin: 0 auto; }
    #search-weather form input {
      padding: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 35px;
      border: none;
      background: #e0f1f8; }
    #search-weather form > div {
      padding: 0 5px;
      background: wheat;
      height: 35px; }
    #search-weather form button {
      padding: 0 25px;
      background: #e69705;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      #search-weather form button:hover {
        cursor: pointer; }
    #search-weather form .dropdown-menu {
      margin-top: 8px;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }

#main-window {
  width: 100%;
  background: rgba(255, 255, 255, 0.438);
  margin: 10px 0; }

#left-side {
  height: 350px;
  width: 250px;
  background: #e3e3e3;
  padding: 25px; }

