$color: #e3e3e3;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( to right bottom, rgba(230, 255, 2, 0.35), rgba(253, 2, 2, 0.50)), url("../images/normal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

#search-weather {
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 450px;
    margin: 0 auto;
    form {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        margin: 0 auto;
        input {
            padding: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 35px;
            border: none;
            background: rgb(224, 241, 248);
        }
        &>div {
            padding: 0 5px;
            background: wheat;
            height: 35px;
        }
        button {
            padding: 0 25px;
            background: rgb(230, 151, 5);
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            &:hover {
                cursor: pointer;
            }
        }
        .dropdown-menu {
            margin-top: 8px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

#main-window {
    width: 100%;
    margin: 10px 0;
    display: flex;
}

#left-side {
    width: 35%;
    background: #e3e3e3;
    padding: 20px;
    .header {
        text-align: center;
        text-decoration: underline;
    }
    ul {
        list-style: none;
        text-align: center;
        img {
            width: 100px;
            height: 100px;
            border: 1px solid red;
        }
    }
}

#right-side {
    width: 75%;
    background: rgba(0, 112, 112, 0.712);
    padding: 20px;
    h3 {
        text-align: right;
        padding-right: 30px;
    }
}

#five-day-forecast {
    display: flex;
    flex-wrap: nowrap;
    background: rgba(0, 112, 112, 0.911);
    text-align: center;
    div {
        width: 18%;
        margin: 1%;
        background: rgba(0, 0, 0, 0.479);
        img {
            width: 40%;
        }
    }
}

// CSS Tricks https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
    background: rgba(0, 0, 0, 0.712);
    border-left: 10px solid #ccc;
    margin: 0 10px;
    padding: 0.5em 10px;
    color: #f9f9f9;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #f9f9f9;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: block;
    text-align: right;
    margin: 0 15px;
}

footer {
    position: fixed;
    height: 135px;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    .country {
        font-size: 1.05rem;
        width: 15%;
        height: 85%;
        margin: 5px 2%;
        background: rgba(204, 204, 204, 0.993);
        padding: 5px;
        color: white;
        border: 0.5px solid white;
        h4 {
            text-align: center;
            font-size: 0.85rem;
            color: rgb(4, 7, 61);
        }
        hr {
            border: 0.5px white solid;
            margin: 0;
        }
        .time-zone {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            img {
                width: 75px;
                height: 75px;
                
                color: white;
            }
           
            p {
                margin-top: 10px;
            }
        }
    }
}